In [ ]:
########################################################################################################################
# Filename: Text_Preprocessing.ipynb
#
# Purpose: Preprocess text data using both bag-of-words and sequence of integers approaches.
#
# Author(s): Bobby (Robert) Lumpkin
#
# Library Dependencies: numpy, pandas, tensorflow, bpmll
#
# NOTES: (1) A lot of the data cleaning performed here is due to a great tutorial written by Patrick Loeber
#        which can be found at: https://github.com/python-engineer/tensorflow-course/blob/master/11_NLP.ipynb
#        (2) The code organizing the Reuters-21578 dataset into a pandas dataframe came from Kaggle
#        and can be found at: https://www.kaggle.com/boldy717/reutersnltk
########################################################################################################################

# Text Preprocessing for Multilabel Classification

In [1]:
from scipy.io import arff
import os
import re
import string
import numpy as np
import json
import pandas as pd
from bpmll import bp_mll_loss
import sklearn_json as skljson
from sklearn.model_selection import train_test_split
from nltk.corpus import reuters    ## This downloads the reduced Reuters-21578 dataset
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer

## Loading the Reuters-21578 Dataset

In [2]:
reuters.words('training/9865')[:14]

['FRENCH',
 'FREE',
 'MARKET',
 'CEREAL',
 'EXPORT',
 'BIDS',
 'DETAILED',
 'French',
 'operators',
 'have',
 'requested',
 'licences',
 'to',
 'export']

In [3]:
reuters.categories('training/9865')

['barley', 'corn', 'grain', 'wheat']

In [4]:
# Extract fileids from the reuters corpus
fileids = reuters.fileids()

# Initialize empty lists to store categories and raw text
categories = []
text = []

# Loop through each file id and collect each files categories and raw text
for file in fileids:
    categories.append(reuters.categories(file))
    text.append(reuters.raw(file))

# Combine lists into pandas dataframe. reutersDf is the final dataframe. 
reutersDF = pd.DataFrame({'ids':fileids, 'categories':categories, 'text':text})

In [5]:
reutersDF.head()

,ids,categories,text
0,test/14826,[trade],ASIAN EXPORTERS FEAR DAMAGE FROM U.S.-JAPAN RI...
1,test/14828,[grain],CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STO...
2,test/14829,"[crude, nat-gas]",JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWA...
3,test/14832,"[corn, grain, rice, rubber, sugar, tin, trade]",THAI TRADE DEFICIT WIDENS IN FIRST QUARTER\n ...
4,test/14833,"[palm-oil, veg-oil]",INDONESIA SEES CPO PRICE RISING SHARPLY\n Ind...

## Data Cleaning

In [6]:
## Check if there are any urls in articles
pattern = re.compile(r"https?://(\S+|www)\.\S+")
for t in reutersDF.text:
    matches = pattern.findall(t)
    for match in matches:
        print(t)
        print(match)
        print(pattern.sub(r"", t))
    if len(matches) > 0:
        break

In [7]:
## Define a function to remove punctuation from documents
def remove_punct(text):
    translator = str.maketrans("", "", string.punctuation)
    return text.translate(translator)

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
## Remove punctuation from documents
reutersDF["text"] = reutersDF.text.apply(remove_punct)

In [9]:
# Define a function to remove stopwords
nltk.download('stopwords')

# Stop Words: A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine
# has been programmed to ignore, both when indexing entries for searching and when retrieving them 
# as the result of a search query.
stop = set(stopwords.words("english"))

def remove_stopwords(text):
    filtered_words = [word.lower() for word in text.split() if word.lower() not in stop]
    return " ".join(filtered_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rober\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
## Remove stopwords
reutersDF["text"] = reutersDF.text.apply(remove_stopwords)

In [11]:
## Generate binary labels from 'categories'
mlb = MultiLabelBinarizer()
binary_labels = mlb.fit_transform(reutersDF.categories)
labelsDF = pd.DataFrame(binary_labels, columns = mlb.classes_)

reutersDF = pd.concat([reutersDF, labelsDF], axis = 1)
reutersDF.head()

,ids,categories,text,acq,alum,barley,bop,carcass,castor-oil,cocoa,...,sun-oil,sunseed,tea,tin,trade,veg-oil,wheat,wpi,yen,zinc
0,test/14826,[trade],asian exporters fear damage usjapan rift mount...,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,test/14828,[grain],china daily says vermin eat 712 pct grain stoc...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,test/14829,"[crude, nat-gas]",japan revise longterm energy demand downwards ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,test/14832,"[corn, grain, rice, rubber, sugar, tin, trade]",thai trade deficit widens first quarter thaila...,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,test/14833,"[palm-oil, veg-oil]",indonesia sees cpo price rising sharply indone...,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Generating TF-IDF Feature Vectors

In [12]:
## Generate tf-idf vectors for each instance
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(reutersDF.text.tolist())
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
tf_idf_DF = pd.DataFrame(dense, columns = feature_names)

In [13]:
## Split the training/test data 
label_cols = reutersDF.columns[3:]
X_tfidf = dense
Y_tfidf = reutersDF[label_cols].to_numpy()

training_indices = [index for index in reutersDF.index if 'training' in reutersDF.loc[index,].ids]
test_indices = [index for index in reutersDF.index if 'test' in reutersDF.loc[index,].ids]

X_tfidfTrain = X_tfidf[training_indices,]
X_tfidfTest = X_tfidf[test_indices]
Y_tfidfTrain = Y_tfidf[training_indices]
Y_tfidfTest = Y_tfidf[test_indices]

In [18]:
## (CAUTION: DO NOT OVERWRITE EXISTING FILES) -- Write the training and test data to a .npz file
outfile = "tfidf_trainTest_data.npz"
#np.savez(outfile, X_tfidfTrain = X_tfidfTrain, 
#                  X_tfidfTest = X_tfidfTest, 
#                  Y_tfidfTrain = Y_tfidfTrain, 
#                  Y_tfidfTest = Y_tfidfTest)

## Generating Sequence of Integers Feature Vectors (for RNNs)

In [91]:
reuters_training = reutersDF.loc[training_indices,]
reuters_test = reutersDF.loc[test_indices]

reuters_training.head()

,ids,categories,text
3019,training/1,[cocoa],bahia cocoa review showers continued throughou...
3020,training/10,[acq],computer terminal systems ltcpml completes sal...
3021,training/100,[money-supply],nz trading bank deposit growth rises slightly ...
3022,training/1000,[acq],national amusements ups viacom ltvia bid viaco...
3023,training/10000,[earn],rogers ltrog sees 1st qtr net significantly ro...